<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foret">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:windowSoftInputMode="adjustResize"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foret">
        <activity android:name=".Activity.chat.ProfileActivity" />
        <activity android:name=".Activity.chat.ChatActivity" />
        <activity android:name=".Activity.chat.TestLoginActivity" />
        <activity android:name=".Activity.login.SplashActivity"></activity>
        <activity android:name=".Activity.login.SignUpActivity"></activity>
        <activity android:name=".Activity.login.LoginActivity"></activity>

        <activity android:name=".Activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>