<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.foret.db.mapper.ReadMapper">
    <select id="getMember" parameterType="int" resultType="member">
        SELECT * FROM V_member_all where id = #{member_id}
    </select>
    <select id="getTagList" resultType="tag">
        SELECT * FROM tag
    </select>
    <select id="getTagRank" resultType="tag">
        SELECT * from V_tag_rank
    </select>
</mapper>
