<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.foret.db.mapper.LinkMapper">
    
    <!-- member -->
    <!-- tag_link -->
    <insert id="memberTagInsert" parameterType="member">
        INSERT INTO member_tag (member_id, tag_name)
        VALUES
        <foreach collection="list" item="tag" separator=", ">
            (#{tag.id}, #{tag.tag_name})
        </foreach>   
    </insert>
    <delete id="memberTagDelete" parameterType="int">
        DELETE FROM member_tag
        WHERE member_id = #{member_id}
    </delete>
     <!-- region_link-->  
    <insert id="memberRegionInsert" parameterType="member">
        INSERT INTO member_region (member_id, region_si, region_gu)
        VALUES
        <foreach collection="list" item="region" separator=", ">
            (#{region.id}, #{region.region_si}, #{region.region_gu})
        </foreach>
    </insert>
    <delete id="memberRegionDelete" parameterType="int">
        DELETE FROM member_region
        WHERE member_id = #{member_id}
    </delete>
    <!-- photo_link -->
    <insert id="memberPhotoInsert" parameterType="photo">
        INSERT INTO member_photo
        (member_id, dir, filename, originname, filesize, filetype, reg_date)
        VALUES
        <foreach collection="list" item="photo" separator=", ">
            (#{photo.reference_id}, #{photo.dir}, #{photo.filename}, #{photo.originname}, #{photo.filesize}, #{photo.filetype}, NOW())
        </foreach>   
    </insert>
    <delete id="memberPhotoDelete" parameterType="int">
        DELETE FROM
        member_photo
        WHERE
        member_id = #{member_id}
    </delete>
    <!-- member_foret_link -->
    <insert id="memberForetInsert" parameterType="link">
        INSERT INTO member_foret
        (member_id, foret_id)
        VALUES
        (#{member_id}, #{reference_id})
    </insert>
    <delete id="memberForetDelete" parameterType="link">
        DELETE FROM
        member_foret
        WHERE
        member_id = #{member_id} AND
        reference_id = #{reference_id}
    </delete>
    <!-- member_like_board -->
    <insert id="likeBoardInsert" parameterType="link">
        INSERT INTO member_like_board
        (member_id, board_id)
        VALUES
        (#{member_id}, #{reference_id})
    </insert>
    <delete id="likeBoardDelete" parameterType="link">
        DELETE FROM
        member_like_board
        WHERE
        member_id = #{member_id} AND
        reference_id = #{reference_id}
    </delete>
    <!-- member_like_comment -->
    <insert id="likeCommentInsert" parameterType="link">
        INSERT INTO member_like_comment
        (member_id, comment_id)
        VALUES
        (#{member_id}, #{reference_id})
    </insert>
    <delete id="likeCommentDelete" parameterType="link">
        DELETE FROM
        member_like_comment
        WHERE
        member_id = #{member_id} AND
        reference_id = #{reference_id}
    </delete>

    <!-- foret -->
    <!-- tag_link -->
    <insert id="foretTagInsert" parameterType="foret">
        INSERT INTO foret_tag (foret_id, tag_name)
        VALUES
        <foreach collection="list" item="tag" separator=", ">
            (#{tag.id}, #{tag.tag_name})
        </foreach>   
    </insert>
    <delete id="foretTagDelete" parameterType="int">
        DELETE FROM foret_tag
        WHERE foret_id = #{foret_id}
    </delete>
    <!-- region_link-->  
    <insert id="foretRegionInsert" parameterType="foret">
        INSERT INTO foret_region (foret_id, region_si, region_gu)
        VALUES
        <foreach collection="list" item="region" separator=", ">
            (#{region.id}, #{region.region_si}, #{region.region_gu})
        </foreach>
    </insert>
    <delete id="foretRegionDelete" parameterType="int">
        DELETE FROM foret_region
        WHERE foret_id = #{foret_id}
    </delete>
    <!-- photo_link -->
    <insert id="foretPhotoInsert" parameterType="photo">
        INSERT INTO foret_photo
        (foret_id, dir, filename, originname, filesize, filetype, reg_date)
        VALUES
        <foreach collection="list" item="photo" separator=", ">
            (#{photo.reference_id}, #{photo.dir}, #{photo.filename}, #{photo.originname}, #{photo.filesize}, #{photo.filetype}, NOW())
        </foreach>   
    </insert>
    <delete id="foretPhotoDelete" parameterType="int">
        DELETE FROM
        foret_photo
        WHERE
        foret_id = #{foret_id}
    </delete>

    <!-- board -->
    <!-- board_link-->
    <insert id="boardPhotoInsert" parameterType="photo">
        INSERT INTO board_photo
        (board_id, dir, filename, originname, filesize, filetype, reg_date)
        VALUES
        <foreach collection="list" item="photo" separator=", ">
            (#{photo.reference_id}, #{photo.dir}, #{photo.filename}, #{photo.originname}, #{photo.filesize}, #{photo.filetype}, NOW())
        </foreach>   
    </insert>
    <delete id="boardPhotoDelete" parameterType="int">
        DELETE FROM
        board_photo
        WHERE
        board_id = #{board_id}
    </delete>
</mapper>
