<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foret_app_prototype">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_foret"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_foret"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activity.free.WriteFreeActivity$ReadFreeActivity" />
        <activity android:name=".activity.foret.EditForetActivity" />
        <activity android:name=".activity.menu.EditMYInformActivity" />
        <activity android:name=".activity.foret.board.ReadForetBoardActivity" />
        <activity android:name=".activity.foret.board.EditForetBoardActivity" />
        <activity android:name=".activity.foret.board.WriteForetBoardActivity" />
        <activity android:name=".activity.foret.ViewForetActivity" />
        <activity android:name=".activity.foret.MakeForetActivity" />
        <activity android:name=".activity.search.SearchResultActivity" />
        <activity android:name=".activity.free.EditFreeActivity" />
        <activity android:name=".activity.free.SearchFreeActivity" />
        <activity android:name=".activity.free.WriteFreeActivity" />
        <activity android:name=".activity.login.JoinUsActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>