<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foret_app_prototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_foret"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_foret"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.chat.chatactivity.ChatContainerActivity" />
        <activity android:name=".activity.menu.EditMyInfoActivity" />
        <activity android:name=".activity.menu.AppGuideActivity" />
        <activity android:name=".activity.menu.AppNoticeActivity" />
        <activity android:name=".activity.menu.MyInfoActivity" />
        <activity android:name=".activity.SearchLayoutActivity" />
        <activity android:name=".activity.free.ReadFreeActivity"/>
        <activity android:name=".activity.chat.chatactivity.GroupChatCreatectivity" />
        <activity android:name=".activity.chat.chatactivity.GroupJoinActivity" />
        <activity android:name=".activity.chat.chatactivity.GroupChatActivity" />
        <activity android:name=".activity.chat.chatactivity.ChatActivity" />
        <activity android:name=".activity.chat.chatactivity.VideoViewActivity" />
        <activity android:name=".activity.login.GuideActivity" />
        <activity android:name=".activity.foret.board.ListForetBoardActivity" />
        <activity android:name=".activity.foret.EditForetActivity" />
        <activity android:name=".activity.foret.board.ReadForetBoardActivity" />
        <activity android:name=".activity.foret.board.EditForetBoardActivity" />
        <activity android:name=".activity.foret.board.WriteForetBoardActivity" />
        <activity android:name=".activity.foret.ViewForetActivity" />
        <activity android:name=".activity.foret.MakeForetActivity" />
        <activity android:name=".activity.search.SearchResultActivity" />
        <activity android:name=".activity.free.EditFreeActivity" />
        <activity android:name=".activity.free.WriteFreeActivity" />
        <activity android:name=".activity.login.JoinUsActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity">
        </activity>

        <service
            android:name=".activity.notify.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".activity.notify.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 안드로이드 푸쉬를 위해 추가 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>